.pageLoader {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255 / 82%);
    z-index: 99999;
}

.loader {
    margin: 0 auto;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}