.jk {
    left: 174px;
    top: 124px;
}

.raj {
    left: 160px;
    top: 314px;
}

.guj {
    left: 93px;
    top: 419px;
}

.mp {
    left: 252px;
    top: 409px;
}

.mh {
    left: 189px;
    top: 517px;
}

.ka {
    left: 189px;
    top: 643px;
}

.teln {
    left: 269px;
    top: 570px;
}

.od {
    left: 409px;
    top: 496px;
}

.wb {
    left: 491px;
    top: 401px;
}

.up {
    left: 318px;
    top: 315px;
}

.area {
    height: 3em;
    width: 3em;
    cursor: pointer;
    background-clip: content-box !important;
    border-radius: 100%;
    border: 0.1875em solid transparent;
    z-index: 2;
    background-image: url('../../assets/images/pin.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.selected {
    transform: scale(1.5);
    transform-origin: bottom;
}

.mapContainer {
    position: relative;
    display: flex;
    width: 100%;
}

.map {
    width: 1119px;
}

.map img{
    max-width: 100%;
}

.caseStudy {
    width: 100%;
    margin-left: 60px;
    margin-top: 50px;
}


@media only screen and (max-width: 1200px) {


    .mapContainer {
        position: relative;
        display: flex;
        width: 72%;
        flex-direction: column;
    }

    .caseStudy {
        margin-left: 0;
    }

    .map {
        width: 352px;
    }

    .area {
        height: 2em;
        width: 2em;
        cursor: pointer;
        background-clip: content-box !important;
        border: 0.1875em solid transparent;
        z-index: 2;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }


    .jk {
        left: 74px;
        top: 47px;
    }

    .raj {
        left: 58px;
        top: 147px;
    }

    .guj {
        left: 33px;
        top: 195px;
    }

    .mp {
        left: 113px;
        top: 188px;
    }

    .mh {
        left: 89px;
        top: 235px;
    }

    .ka {
        left: 83px;
        top: 292px;
    }

    .teln {
        left: 124px;
        top: 250px;
    }

    .od {
        left: 191px;
        top: 217px;
    }

    .wb {
        left: 225px;
        top: 185px;
    }

    .up {
        left: 143px;
        top: 136px;
    }
}


@media only screen and (max-width: 600px) {
    .map {
        width: 100%;
    }
    .mapContainer {
        flex-direction: column;
        width: 352px;
    }

    .area {
        height: 2em;
        width: 2em;
        cursor: pointer;
        background-clip: content-box !important;
        border: 0.1875em solid transparent;
        z-index: 2;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }

    .jk {
        left: 74px;
        top: 47px;
    }

    .raj {
        left: 58px;
        top: 147px;
    }

    .guj {
        left: 33px;
        top: 195px;
    }

    .mp {
        left: 113px;
        top: 188px;
    }

    .mh {
        left: 89px;
        top: 235px;
    }

    .ka {
        left: 83px;
        top: 292px;
    }

    .teln {
        left: 124px;
        top: 250px;
    }

    .od {
        left: 191px;
        top: 217px;
    }

    .wb {
        left: 225px;
        top: 185px;
    }

    .up {
        left: 143px;
        top: 136px;
    }
}