.topbar {
    background-color: #845B1B;
    min-height: 32px;
}

.content {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: right;
    max-height: 32px;
}

.phone {
    display: flex;
    align-items: center;
}

.email {
    display: flex;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.phone a, .email a {
    font-size: 0.9em;
    color: #fff;
}

.phone svg, .email svg {
    margin-top: 5px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {

    .topbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 15px;
    }
    .content{
        width: 80%;
    }

    .socials svg {
        height: 18px;
        width: 18px;
    }

    .phone svg, .email svg {
        height: 16px;
        width: 16px;
        margin-right: 5px;
    }
    .phone a, .email a {
        font-size: 10px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1024px){
    .content{
        width: 65%;
    }
}