.slits {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 44%;
  z-index: 9999;
  height: 300px;
  width: 250px;
}

.slit {
  left: 97.75%;
  cursor: pointer;
  width: 50px;
  height: 62px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  background: #7BB259;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in 0s;
  padding-left: 10px;
  margin-bottom: 10px;
}

.slit.phoneslit {
  background: #845B1B;
  top: 25%;
}

.slit:hover {
  left: 90%;
  width: 250px;
}

.slit.phoneslit:hover {
  width: 150px;
}

.slit .text {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  display: none;

}

.slit:hover .text {
  opacity: 1;
  color: #fff;
  display: block;

}

.slit svg{
  font-size: 40px;
  display: block;
}