.testimonails {
    margin-top: 40px;
}

.textSection {
    width: 40%;
    margin-top: 100px;
    font-size: 3em;
    color: #7E8144;
}

.testimonailsSection {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}

.testimonial {
    display: flex !important;
    flex-direction: column;
    width: 70% !important;
    margin: 0 auto;
}

.info {
    margin-top: 23px;
}

.name {
    font-size: 2em;
    font-weight: 700;
    color: #845B1B;
}

.description {
    margin-top: 23px;
    max-width: 310px;
    color: #72786C;
}

.clientimg {
    height: 300px;
    max-width: 300px;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .testimonails {
        margin-top: 20px;
    }

    .textSection {
        margin-top: 30px;
        width: 100%;
        font-size: 2rem;
    }

    .testimonailsSection {
        width: 100%;
        margin-top: 30px;
    }

    .testimonial {
        width: 95% !important;
        margin-top: 10px;
    }

    .image img {
        border-radius: 25px;
    }

    .name {
        font-size: 30px;
    }

    .description {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px){ 
    .testimonailsSection {
        width: 50%;
    }

    .textSection {
        font-size: 2.5rem;
    }

    /* .testimonails {
        padding-bottom: 0px;
    } */
}