.container {
    margin: 0 69px;
}

.pageTitle {
    font-size: 2.5em;
    font-weight: 900;
    width: fit-content;
    margin: 0 auto;
    color: #845B1B;
    font-family: 'Sofia Sans';

}

.pageTitleSmall {
    font-size: 1.5em;
    font-weight: 600;
    width: fit-content;
    margin: 0 auto;
    color: #845B1B;
}

button.btn1 {
    background-color: #ADDA26;
    padding: 10px 20px;
    border-radius: 10px;
    color: #845B1B;
    font-weight: 600;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    text-transform: none;
}

button.btn1:hover {
    background-color: #ADDA26;
    color: #845B1B;
    box-shadow: 4px 4px 6px rgb(0 0 0 / 25%);
}

button.linkBtn {
    padding: 10px 20px;
    border-radius: 10px;
    color: #845B1B;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: none;
    font-family: 'M PLUS Rounded 1c';
}

.sectionBtn {
    margin-top: 30px;
    display: flex;
    text-decoration: underline;
    text-decoration-color: #845B1B;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) { 
    .container {
        margin: 0 20px;
    }

    .pageTitle {
        font-size: 25px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){ 
    .container {
        margin: 0 30px;
    }

    .pageTitle {
        font-size: 2rem;
    }
}
