/* m-plus-rounded-1c-100 - latin */
@font-face {
     font-family: 'M PLUS Rounded 1c';
     font-style: normal;
     font-weight: 100;
     src: url('./assets/fonts/m-plus-rounded-1c-v14-latin-100.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-100.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-100.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-100.woff') format('woff'),
          /* Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-100.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-100.svg#MPLUSRounded1c') format('svg');
     /* Legacy iOS */
}

/* m-plus-rounded-1c-300 - latin */
@font-face {
     font-family: 'M PLUS Rounded 1c';
     font-style: normal;
     font-weight: 300;
     src: url('./assets/fonts/m-plus-rounded-1c-v14-latin-300.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-300.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-300.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-300.woff') format('woff'),
          /* Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-300.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-300.svg#MPLUSRounded1c') format('svg');
     /* Legacy iOS */
}

/* m-plus-rounded-1c-regular - latin */
@font-face {
     font-family: 'M PLUS Rounded 1c';
     font-style: normal;
     font-weight: 400;
     src: url('./assets/fonts/m-plus-rounded-1c-v14-latin-regular.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-regular.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-regular.woff') format('woff'),
          /* Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-regular.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-regular.svg#MPLUSRounded1c') format('svg');
     /* Legacy iOS */
}

/* m-plus-rounded-1c-500 - latin */
@font-face {
     font-family: 'M PLUS Rounded 1c';
     font-style: normal;
     font-weight: 500;
     src: url('./assets/fonts/m-plus-rounded-1c-v14-latin-500.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-500.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-500.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-500.woff') format('woff'),
          /* Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-500.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-500.svg#MPLUSRounded1c') format('svg');
     /* Legacy iOS */
}

/* m-plus-rounded-1c-700 - latin */
@font-face {
     font-family: 'M PLUS Rounded 1c';
     font-style: normal;
     font-weight: 700;
     src: url('./assets/fonts/m-plus-rounded-1c-v14-latin-700.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-700.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-700.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-700.woff') format('woff'),
          /* Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-700.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-700.svg#MPLUSRounded1c') format('svg');
     /* Legacy iOS */
}

/* m-plus-rounded-1c-800 - latin */
@font-face {
     font-family: 'M PLUS Rounded 1c';
     font-style: normal;
     font-weight: 800;
     src: url('./assets/fonts/m-plus-rounded-1c-v14-latin-800.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-800.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-800.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-800.woff') format('woff'),
          /* Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-800.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-800.svg#MPLUSRounded1c') format('svg');
     /* Legacy iOS */
}

/* m-plus-rounded-1c-900 - latin */
@font-face {
     font-family: 'M PLUS Rounded 1c';
     font-style: normal;
     font-weight: 900;
     src: url('./assets/fonts/m-plus-rounded-1c-v14-latin-900.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-900.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-900.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-900.woff') format('woff'),
          /* Modern Browsers */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-900.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('./assets/fonts/m-plus-rounded-1c-v14-latin-900.svg#MPLUSRounded1c') format('svg');
     /* Legacy iOS */
}



/* New FONT ADDED 23/02 */
/* sofia-sans-300 - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Sofia Sans';
     font-style: normal;
     font-weight: 300;
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-300.eot'); /* IE9 Compat Modes */
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-300.woff') format('woff'), /* Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-300.svg#SofiaSans') format('svg'); /* Legacy iOS */
   }
   /* sofia-sans-regular - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Sofia Sans';
     font-style: normal;
     font-weight: 400;
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-regular.svg#SofiaSans') format('svg'); /* Legacy iOS */
   }
   /* sofia-sans-500 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Sofia Sans';
     font-style: normal;
     font-weight: 500;
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-500.eot'); /* IE9 Compat Modes */
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-500.woff') format('woff'), /* Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-500.svg#SofiaSans') format('svg'); /* Legacy iOS */
   }
   /* sofia-sans-600 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Sofia Sans';
     font-style: normal;
     font-weight: 600;
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-600.eot'); /* IE9 Compat Modes */
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-600.svg#SofiaSans') format('svg'); /* Legacy iOS */
   }
   /* sofia-sans-700 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Sofia Sans';
     font-style: normal;
     font-weight: 700;
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-700.svg#SofiaSans') format('svg'); /* Legacy iOS */
   }
   /* sofia-sans-800 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Sofia Sans';
     font-style: normal;
     font-weight: 800;
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-800.eot'); /* IE9 Compat Modes */
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-800.woff') format('woff'), /* Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-800.svg#SofiaSans') format('svg'); /* Legacy iOS */
   }
   /* sofia-sans-900 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Sofia Sans';
     font-style: normal;
     font-weight: 900;
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-900.eot'); /* IE9 Compat Modes */
     src: url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-900.woff') format('woff'), /* Modern Browsers */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./assets/fonts/sofia-sans/sofia-sans-v13-latin-900.svg#SofiaSans') format('svg'); /* Legacy iOS */
   }


* {
     font-size: 100%;
     font-family: 'M PLUS Rounded 1c';
     margin: 0;
     font-size: 1rem;
}

a {
     color: inherit;
     text-decoration: none;
}

button.slick-arrow::before {
     color: #845B1B;
}


/* Product Listing Page CSS */
.slick-slider .product-thumb {
     margin-top: 20px;
     position: relative;
}

.product-thumb li {
     width: 90px !important;
     height: 90px !important;
}

.single-product .slick-slide {
     display: flex !important;
     align-items: center;
     justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

*:focus {
     outline: 0;
     outline: none;
   }

/*Customizing homepage banner: Anirudha*/
.banner .slick-next {
     right: 30px;
}

.banner .slick-prev {
     left: 30px;
     z-index: 999;
}
/*Customizing homepage banner: Anirudha*/

/* Added By ASHIT START */
.slick-slide img {
     width: 100%;
}

.clients-page .slick-slide img {
     max-width: 300px;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
     .product-thumb li {
          width: 40px !important;
          height: 40px !important;
     }

     .slick-slide img {
          width: fit-content;
     }

}

@media only screen and (max-width: 600px) {
     .product-thumb li {
          width: 20px !important;
          height: 20px !important;
     }
}

/* Added By ASHIT END */

.is-sticky {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 999;
     box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
     background-color: rgba(255, 255, 255, .9) !important;
     animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
     padding-top: 0px;
     padding-bottom: 0px;
 }